<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="selected = 'coin-table'">Show Coin Table</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="selected = 'transform-coin-data'">Transform Coin Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="selected = 'animation-example'">Animation Example</a>
      </li>
    </ul>
  </div>
</nav>
<div class="content container" role="main">
  <div class="row" style="margin-top: 50px;">
    <div class="col-12">
    <p *ngIf="selected === ''">Click on menu items to view content</p>
    </div>
  </div>
  <app-coin-table *ngIf="selected === 'coin-table'"></app-coin-table>
  <app-transform-coin-data *ngIf="selected === 'transform-coin-data'"></app-transform-coin-data>
  <app-animation-example *ngIf="selected === 'animation-example'"></app-animation-example>
</div>
