<form class="form-inline">
  <div class="form-group mb-2 align-items-end">
    <label for="staticEmail2" class="sr-only">Email</label>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="{{ coin.quote.USD.price}}">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" id="thresholdPriceUsd" value="{{ coin.quote.USD.price}}">
  </div>
  <button type="button" class="btn btn-success mb-2" (click)="setAlarm(coin)">Create/Update Alarm</button>
</form>
