<button class="btn btn-primary" (click)="changeAnimation('fade')">fade-in/out</button>
<button class="btn btn-primary" (click)="changeAnimation('slideFromLeft')">slide-in/out from left</button>
<button class="btn btn-primary" (click)="changeAnimation('slideFromRight')">slide-in/out from right
</button>
<button class="btn btn-primary" (click)="changeAnimation('grow')">grow-in/shrink-out</button>
<button class="btn btn-primary" (click)="changeAnimation('bounce')">bounce-in/out</button>
<button class="btn btn-primary" (click)="changeAnimation('swing')">swing-in/out</button>
<button class="btn btn-primary" (click)="changeAnimation('LTR')">enter from left, leave to right</button>
<button class="btn btn-danger" (click)="startAnimation()">Start!</button>
<hr>
<ng-container [ngSwitch]="selectedAnimation">
  <ng-container *ngSwitchCase="'grow'">
    <button class="btn btn-success" [@growInShrinkOut] *ngFor="let number of numbers">Element {{number}}</button>
  </ng-container>
  <ng-container *ngSwitchCase="'swing'">
    <button class="btn btn-success" [@swingInAndOut] *ngFor="let number of numbers">Element {{number}}</button>
  </ng-container>
  <ng-container *ngSwitchCase="'slideFromLeft'">
    <button class="btn btn-success" [@enterAndLeaveFromLeft] *ngFor="let number of numbers">Element {{number}}</button>
  </ng-container>
  <ng-container *ngSwitchCase="'slideFromRight'">
    <button class="btn btn-success" [@enterAndLeaveFromRight] *ngFor="let number of numbers">Element {{number}}</button>
  </ng-container>
  <ng-container *ngSwitchCase="'fade'">
    <button class="btn btn-success" [@fadeInAndOut] *ngFor="let number of numbers">Element {{number}}</button>
  </ng-container>
  <ng-container *ngSwitchCase="'bounce'">
    <button class="btn btn-success" [@bounceInAndOut] *ngFor="let number of numbers">Element {{number}}</button>
  </ng-container>
  <ng-container *ngSwitchCase="'LTR'">
    <button class="btn btn-success" [@enterFromLeftLeaveToRight] *ngFor="let number of numbers">
      Element {{number}}</button>
  </ng-container>
</ng-container>

